
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul li a:hover{
   color: green;
}
#logo{
    width: 100px;
}
#copy{
    font-size: 0.9rem;
}
.last{

display: flex;
flex-direction: column;
justify-content:flex-start;
padding: 1.6rem;
margin-top: 1.5rem;


}
footer{
    background-color: #a2d9ff;
   display: flex;
   flex-direction: column;
   justify-content:flex-end;
   height: 20rem;
   color: black;
   padding: 2rem;
   
}
#terms{
    background-color:  #a2d9ff;
    padding: 1rem;
  
    border-radius: 10px;
}
#terms:hover{
    background-color: #7eb1d5 ;
    color: white;
}

h2{
    margin-bottom: 1rem;
}
.single-child{
    margin-top: 1rem;
}
.s5{
    padding: 1rem;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#school-icon{
   font-size: 2rem;
}
#college{
    background-color: rgb(20, 127, 234);
}
#corporate-as{
    background-color: rgb(203, 96, 203); ;
}


.container{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 height: 5.4rem;
 max-width: 1300px;
 padding: 1rem;
 margin-left: auto;
 margin-right: auto;



}

.container4{ 
   padding-left: 1rem;
   padding-right: 1rem;
   margin-left: 11px;
   margin-top: 1rem;
}
.logo-name{
    font-size: 1rem;
}.list{
    display: none;
    color: white;
}
header{
    border-bottom: 1px solid rgb(124, 124, 124);
    background-color:rgb(48, 94, 181);
    color:white;
    position: sticky;
    height: 6rem;
    
   
}
.second-icon-gr{
    display: none;
}
h2{
    margin-top: 1rem;
}
a{
    text-decoration: none;
    color: black;
  font-size: 1.2rem;
}
.s1{
    width: 100%;
    height: 17rem;
    background-image: url(./Picsart_24-04-05_13-48-21-261.jpg);
    background-size: cover;
}
h1{
    color: white;
    font-size: 2rem;
}
#btn{
    
    border: none;
    color: white;
    padding: 0.4rem;
    background-color:rgb(48, 94, 181);
    border-radius: 10px;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items:flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
}
#btn:hover{
    background-color: rgb(63, 94, 152);
    color: rgb(255, 255, 255);
}



#arimg{
    width: 17rem;
    height: 10rem;
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;

 
    
   
    

}

.icon,.list{
    margin-top:5px
}
#btn2,#btn3{
    background-color: black;
    color: white;
    padding: 0.4rem;
    width: 5rem;
    border: none;
 padding-left: 1rem;
 padding-right: 6rem;
}
#btn2:hover{
    background-color: rgb(58, 58, 58);
}
#btn3:hover{
    background-color: rgb(58, 58, 58);
}
article{
    border: 1px solid grey;
    padding: 1rem;
  
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: white;
    width: 19rem;
    height: 33rem;
  
 
  
    
}
.s2{
    padding: 1rem;
    background-color: #a2d9ff;
    border: none;
 
}

.s4{
    padding: 1rem;
    background-color: #a2d9ff;
}
p{
    color: rgb(137, 134, 134);
}
h3{
    margin-top: 1rem;
}
#mob{
    display: none;
}.arinner{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    border: 1px solid black;
    
}

#midspan{
    margin-bottom: 1rem;
    color: rgb(102, 102, 206);
}
#sar{
    margin-top: 1.9rem;
}
.ar1{
    background-image: url(./sin.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;


}
#single,#rupee{
    font-size: x-large;
    color: rgb(255, 255, 255);
    font-weight: 700;
}
.ar2{
    background-image: url(./chi.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
@media only screen and (min-width: 345px){
   

    #logo{
        width: 50px;
        height: 50px;
    }

    .container3{
        display: grid;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr ;
        padding: 1rem;
        width: 100%;
       
       
    }
    article{
        border: 1px solid grey;
        padding: 1rem;
        margin: 0.3rem;
        margin-bottom: 1rem;
        display: flex;
        background-color: white;
        width: 10rem;
        height: 12.1rem;
       
   }.container4{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18.4rem;
     margin:2rem;
    }
    .single-child{
        border:none;
        width: 23rem;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     
      
 }.schools{
    display: grid;
    grid-template-columns: 1fr;
   
  
}
.schooldetails{
    background-color: rgba(32, 101, 13, 0.893);
    color: white;
    width: 19.3rem;
    height: 20rem;
    margin:0.66rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.4rem;
}
.ar1,.ar2{
    height: 14rem;
    width: 20rem;
    margin-right: 1rem;
    margin-left: 1rem;
   
}.lazy,.water,.drop{
    width: 8rem;
    height: 15rem;

}

    
    
    
    
    
    
    
    
    .packages{
       padding-left: 0.4rem;
    }
  
    
    .ar3,.ar4,.ar5{
        width:20rem;
        height: 6.5rem;
        background-color: rgba(32, 101, 13, 0.893);
        color: white;
        font-size: xx-large;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ar4{
        background-color: rgb(20, 127, 234);
    }
    .ar5{
        background-color: rgb(203, 96, 203);
    }
    
    
    #arimg{
        width: 8rem;
        height: 10rem;
    }
    p{
        display: none;
    }
    h3{
        font-size: 15px;
    }
    #mob{
        display: block;
        font-size: x-small;
        margin-top: 0;
    }
    .price{
        border: 1px solid white;
        border-radius: 100%;
        width: 4.3rem;
        height: 4.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .para{
        padding: 1rem;
    }
    .collegedetails{
        background-color: rgb(20, 127, 234);
    }
    .corporates{
    background-color: rgb(203, 96, 203);
    }
    
}



@media only screen and (min-width: 768px){

    .container3{
        display: grid;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr ;
        padding: 1rem;
        width: 100%;
       
       
    }
    article{
        border: 1px solid grey;
      
        margin: 2rem;
        margin-bottom: 1rem;
        display: flex;
     
        background-color: white;
        width: 19rem;
        height: 33rem;
       
   }.container4{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 39rem;
    margin: 1rem ;
    margin-left: 4.9rem;
  
    }
    .single-child{
           border:none;
           width: 46rem;
           height: 30rem;
           padding: 1rem;
           margin: 1.7rem;
          
    }
    .schools{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      
    }
    .schooldetails{
      
        margin:1rem;
    }
    



















    .second-icon-gr{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    .icon{
        display: none;
    }
    .s1{
        width: 100%;
        height: 20rem;
        background-image: url(./Picsart_24-04-05_13-48-21-261.jpg);
        background-size: cover;
    }
    h1{
        font-size: 3rem;
        color: white;
    }
    #arimg{
        width: 17rem;
        height: 10rem;
    }
    h3{
        font-size: 1.2rem;
    }
    p{
        display: block;
    }
    #mob{
        display: none;
    }
 
    .ar1,.ar2{
        height: 20rem;
        width: 20rem;
       
    }
    .single-child{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-left: 1.3rem;
    }
    .packages{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .schools{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem;
    }


}
@media only screen and ( min-width:949px){
    .container3{
        display: grid;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
        width: 100%;
    }article{
        border: 1px solid grey;
        margin: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        background-color: white;
        width: 19rem;
        height: 33rem;
       
   }.container4{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60rem;
    margin: 1rem ;
   
    margin-left: 1rem;
    }
    .single-child{
      
        border:none;
        width: 59rem;
        height: 30rem;
        padding: 1rem;
        margin: 3rem;
       
       
 }.ar1,.ar2{
    margin: 1.6rem;
 }
 .packages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.ar3,.ar4,.ar5{
         width: 18rem;
}
.schools{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
}
.schooldetails{
    width: 16.7rem;
    margin:1rem;
}
 
















 
    #arimg{
        width: 17rem;
        height: 10rem;
    }
    h3{
        font-size: 1.2rem;
    }
    p{
        display: block;
    }
    #mob{
        display: none;
    }
 

    .ar1,.ar2{
        height: 20rem;
        width: 25rem;
       
    }
    .single-child{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-left: 3.1rem;
    }
}
@media only screen and (min-width: 1200px){
.container3{
        display: grid;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 1rem;
        width: 100%;
    }article{
        border: 1px solid grey;
        margin: 2rem;
        margin-bottom: 1rem;
        display: flex;
        background-color: white;
        width: 19rem;
        height: 33rem;
       
   }
   .container4{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80rem;
    margin: 3rem ;
    margin-left: 7rem;
  
    }
    .single-child{
           border:none;
           width: 49rem;
           height: 30rem;
           padding: 1rem;
           margin: 1.7rem;
          
    }
    .ar1,.ar2{
        height: 20rem;
        width: 40rem;
       
    }
    .schools{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      
    }
    .schooldetails{
        margin:4.8rem;
        width: 20rem;
    }
   h2{
    font-size: 2.6rem ;
    margin-left: 1.9rem;
   }
   #school-icon{
    font-size: 2.9rem;
   }

#sp{
    font-size: 1.6rem;
}
#popular{
    font-size:3rem;

    
}#logo{
    width: 100px;
    height: 100px;
}
#midspan{
    font-size: 1.5rem;
}
















    .list{
        display: flex;
    
    
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        list-style-type: none;
    
    }
    .second-icon-gr{
        display:none;
    }
    .s1{
        width: 100%;
        height: 30rem;
        background-image: url(./Picsart_24-04-05_13-48-21-261.jpg);
        background-size: cover;
    }
    h1{
        font-size: 6rem;
        color: white;
    }
    #btn{
        background-color: cornflowerblue;
        border: none;
        color: white;
        padding: 0.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .container2{
        display: flex;
        flex-direction: column;
        justify-content:flex-start ;
        align-items:flex-start;
        padding-left: 4rem;
        padding-right: 2rem;
        padding-top: 3rem;
    }
  
    .logo-name{
           font-size: 1.2rem;
    }
    #arimg{
        width: 17rem;
        height: 10rem;
    }
    h3{
        font-size: 1.2rem;
    }
    p{
        display: block;
    }
    #mob{
        display: none;
    }
 
    #list{
        color: white;
    }
  
}




